
  <!-- <mat-grid-list cols="1" rowHeight="2:1" gutterSize="16px"
  [cols]="getResponsiveCols()">
  <mat-grid-tile *ngFor="let post of paginatedPosts" >
    <mat-card >
      <mat-card-title>title: {{ post.title }}</mat-card-title>
      <mat-card-content>Conetent: {{ post.body }}</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
  
<mat-paginator [length]="totalPosts"
[pageSize]="postsPerPage"

(page)="onPageChange($event)">
</mat-paginator> -->
<!-- <app-reactiveform></app-reactiveform> -->
 
<router-outlet></router-outlet>